body {
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    text-align: center;

    margin-top: 64px;
}

#main {
    width: 626px;
    margin: auto;
}

#main img {
    margin-bottom: 32px;
}

h1 {
    font-family: 'Dosis', sans-serif;

    color: #3F3D56;
    font-weight: 500;
    font-size: 32px;

    margin-bottom: 16px;
}

h1 span {
    color: #EE24FF;
}

p {
    color: #828282;
    margin-bottom: 32px;
}

p span {
    color: #3F3D56;
    font-weight: bold;
}

a {
    color: #3F3D56;
    text-decoration: none;
    font-weight: bold;
}

#line {
    width: 391px;
    height: 0px;
    
    margin: 0 auto 8px;
    
    border: 1px solid #ECEFF2;
    
    margin-top: 64px;
    margin-bottom: 16px;
}

#footer a + a {
    margin-left: 42px;
}

#imgfooter {
    margin-top: 40px;
    width: 100%;
}